@charset "UTF-8";
body{
    font-family: Arial,sans-serif;
    line-height : 1.6;
    background-color: white;
    color :#333;
    margin: 0;
    padding: 0;
}
/* ハンバーガーメニューのスタイル*/
.hamburger-menu{
    position:fixed;
    top: 0;
    left:0;
    z-index: 10;
}

.menu-icon{
    display:inline-block;
    cursor:pointer;
    padding:1em;
}
.menu-icon span{
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: 0.4s;
}

#menu-toggle{
    display: none;
}

.menu{
    display: none;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.close-button {
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    padding: 0;
}
.menu ul li{
    padding: 15px 20px;
}
.menu ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
}
/*メニュー表示のトグル*/
#menu-toggle:checked ~ .menu{
    display: block;
}

#menu-toggle:checked ~ .hamburger-menu {
    background: rgba(0, 0, 0, 0.7); /* 背景を暗くする */
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0; 
    margin-top: 50px; /* ハンバーガーメニューと調整が必要の可能性あり*/
}

header img{
    width: 150px;
    height: auto;
}

section{
    padding:20px;
    margin:20px auto;
    max-width: 800px;
    background-color: #f9f9f9; /* 背景色追加 */
    border-radius: 8px; /* 角を丸く */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ボックスシャドウ */
}

a:hover{
    text-decoration: underline;
    color: #ffcc00; /* ホバー時に色を変える */
}
html {
    scroll-behavior: smooth;
}
/*ページトップに戻るボタン*/
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
/* フッター */
footer{
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}
@media (max-width: 600px){
    section{
        padding: 10px;
        margin: 10px ;
        max-width: 800px;
    }
}

